body{
background-color:#1F1F1F;
font-family: 'Inter', sans-serif;
color: #5277FF;
overflow-x: hidden;
overflow-y: scroll;
margin: 0px;
height: 4000px;
}
.title-desc{
width: 400px;
padding: 0px 100px;

}
.navbar{
    
    font-size: 28px;
    font-weight: medium;
    background-color:rgb(55 53 53 / 62%);
    text-align: center;
    justify-items: center;

    width: 100%;
    height: 80px;

}

.menu-list{
list-style-type: none;
display: flex;
justify-content: end;
margin: 0px 130px 0px 0px;

}


.menu-item{
padding: 10px 20px;
height: 100%;
margin: 14px;
font-size: 25px;


}

.title{
    font-size: 54px;
    font-weight: bold;
}
.under-tittle{
    font-size: 28px;
    font-weight: medium;
    margin-top: -50px;
}
.main{
display: flex;



}
.title{
margin-top: 14
}
.img-block{
    display: flex;
    justify-content:space-between;
width: 600px;
height: 800px;
padding: 0px 30px;
margin: 0px 30px;
border-radius: 30px;

}
.banner{
    margin-top: 30px;
    width: 800px;
    height: 600px;
    padding: 0px 30px;
    border-radius: 15px;

}
.half-banner{
    border-radius: 30px;
    margin-top: 30px;
    width: 800px;
    height: 600px;
    padding: 0px 30px;


}




.button-7 {
  background-color: #0075fa;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #101214;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
  background-color: rgb(218, 227, 233);
}

.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #dadadb;
  box-shadow: none;
}
hr{
border: none;
background-color: white;
color: red;
height: 2px;
}
.sect{
position: absolute;
top: 900px;
background-color: rgb(159 159 159 / 22%);
height: 1100px;
width: 100%;

}
.fast-view{
  position: relative;
width: 100%;
margin-top: 100px;
padding: 0;
}
.mini-tittle{


width: 100%;
height: 150px;

}
.new-h{
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 42px;
  font-weight: 900;
  margin: 0;
  padding-bottom: 60px;
}
.new-p{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  

}

.main-card{
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -300px;
  padding: 0;
  

  
}
.card{
  top: 400px;
  width: 100%;
  height: 450px;
  margin: 0px 250px;
  position: relative;
  border: 1px solid #1F1F1F;
  right: 0px;
  left: -77px;
  padding: 0px;
  
}
.product, .description{
  width: 300px;
  height: 450px;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #FFF;
  backface-visibility: hidden;
  transition: 1s;
  padding: 0;
  }
  .description a{
    display: inline-block;
    padding: 10px 30px;
    margin-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    background-color: antiquewhite;
    
    }
    .card:hover.product{
      transform: rotateY(180deg);
  }
  .card:hover .description{
      transform: rotateY(360deg);
  }

  .description{
    box-sizing: border-box;
    padding: 40px;
    transform: rotateY(180deg);
    
    }

.cards-img{
width: 300px;
height: 450px;
}

.button-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  right: -838px;
  top: 430px;
  background-color: #0075fa;
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #101214;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-6:hover,
.button-6:focus {
  background-color: rgb(218, 227, 233);
}

.button-6:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-6:active {
  background-color: #dadadb;
  box-shadow: none;
}